{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/service-status.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    {% include "includes/breadcrumb_load_times.html" %}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">
          
            <div class="govuk-grid-column-two-thirds">


                <h1 class="govuk-heading-xl">
                  Load times
                </h1>
        
                <p>Load time is the average amount of time it takes for a page to show up on your screen. It is calculated from initiation (when you click on a page link or type in a web address) to completion (when the page is fully loaded)</p>

                  <!-- Date range picker snippet -->
                  <h2 class="govuk-heading-s">Filter this data</h2>
                      <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                          <div class="form-group">
                            <div class="form-date">
                              <div class="sm-daterange-component">
                      
                                <label for="from" class="govuk-body-m sm-daterange-label from">From</label>
                                <div class="sm-daterange-input-wrapper from">
                                  <input type="text" id="from" name="from" placeholder="DD/MM/YYYY" class="form-control sm-daterange-input from" autocomplete="off" 
                                  <span class="sm-calendar-icon">
                                    <i class="far fa-calendar-alt"><span class="visually-hidden">From date range</span></i>
                                  </span>
                                </div>
                      
                                <label for="to" class="govuk-body-m sm-daterange-label to">to</label>
                                <div class="sm-daterange-input-wrapper to">
                                  <input type="text" id="to" name="to" placeholder="DD/MM/YYYY" class="form-control sm-daterange-input to" autocomplete="off">
                                  <span class="sm-calendar-icon">
                                    <i class="far fa-calendar-alt"><span class="visually-hidden">To date range</span></i>
                                  </span>
                                </div>
                      
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <script>
                        document.addEventListener("DOMContentLoaded", function (event) {
                          if (document.querySelectorAll('.sm-daterange-component').length) {
                            SmDateRangePicker('#from', '#to').init();
                          }
                        });
                      </script>

                   
      <!-- End of date range picker snippet -->

    </div>
  </div>

      <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-third">
        <div class="data-panel">
         
              <span class="panel-data-figure">90%</span>

              <div class="detail">
                <p>of pages loaded within <strong>2 seconds</strong>.</p>
            </div>
            <div class="detail">
            <p class="footer-team-data">Data from team: Royal Blue</p>
            </div>
        </div> 
       </div>
      </div>


      <div class="govuk-grid-row">
 <div class="govuk-grid-column-full">

                  
      <h2 class="govuk-heading-m">Pages that don't load within this limit</h2>

      <p>The following pages took longer than average to load.</p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Page title</th>
            <th scope="col" class="govuk-table__header" width="30%">Average loading times</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">Assessment overview</th>
            <td class="govuk-table__cell">3 seconds</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">Abandon the assessment?</th>
            <td class="govuk-table__cell">3.5 seconds</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">Assessment abandoned</th>
            <td class="govuk-table__cell">3.7 seconds</td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__cell">When should this claim be reviewed?</th>
            <td class="govuk-table__cell">4 seconds</td>
          </tr>
          
        </tbody>
      </table>

            </div>
        </div>

    </main>
  </div>
{% endblock %}