<section class="key-details-bar" role="contentinfo" aria-label="Key details">
    <dl class="key-details-bar__key-details">
      <div class="key-details-bar__top-block">
        <dt class="govuk-visually-hidden">Service:</dt>
        <dt class="key-details-bar__name">Health Assessment Service</dt>
  
        <dt class="govuk-visually-hidden">Service version:</dt>
        <dt class="key-details-bar__nino">PIP v0.6 / WCA v0.6</dt>
      </div>

      
      <div class="key-details-bar__bottom-block">
         <dt>Team:</dt>
         <dd>Royal Blue</dd>
       </div>
 



    </dl>
</section>