{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/service-status.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    {{ govukBackLink({
        text: "Back",
        href: "./"
      }) }}

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="passport-issued-hint" class="hypothesis-label">
                    Hypothesis 2
                </div>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                    Removing physical assessment from phone
                </h1>
                <p class="govuk-body-l">
                    <strong class="govuk-tag govuk-tag--green">
                        Supported
                    </strong>
                </p>

                <p class="govuk-body-l">
                    This hypothesis includes an <strong>action</strong> for a <strong>user</strong> that
                    the team believes will have an <strong>outcome</strong>.
                </p>
                <p class="govuk-body-l">
                    The hypothesis must be <strong>tested</strong> in some way, and may have <strong>risks</strong>.
                </p>

                <div class="hypothesis-box">
                    <h2 class="govuk-heading-m" id="action">We believe if we...</h2>
                    <p class="govuk-body-m">
                        remove physical assessment options from phone interviews
                    </p>
    
                    <h2 class="govuk-heading-m" id="user">for a...</h2>
                    <p class="govuk-body-m">
                        Healthcare Professional
                    </p>
    
                    <h2 class="govuk-heading-m" id="outcome">it will mean that...</h2>
                    <p class="govuk-body-m">
                        they will not be prompted unnecessarily for info that isn't needed for this type of assessment.
                    </p>
    
                    <h2 class="govuk-heading-m" id="test">We'll know we're right when...</h2>
                    <p class="govuk-body-m">
                        they can capture sufficient information despite the removal of the 'physical' section.
                    </p>

                    <h2 class="govuk-heading-m" id="test">However, this could be harmful if...</h2>
                    <p class="govuk-body-m">
                        a physical assessment is needed but is not available in the interface.
                    </p>
                </div>

                <h2 class="govuk-heading-l" id="tickets">Tickets</h2>
                <p class="govuk-body-l">
                    The following tickets implement the <strong>action</strong> of this hypothesis.
                </p>
                <p class="govuk-heading-m govuk-!-margin-bottom-3">
                    WCA Version 0.3
                </p>
                <ul class="govuk-list govuk-list--bullet">
                    <li><a href="https://dwpdigital.atlassian.net/browse/HTRB-343">HTRB-343</a>, Remove 'Physical assessment' questions from assessments not conducted in person</li>
                </ul>


                <h2 class="govuk-heading-l" id="impacts">Impacts</h2>
                <p class="govuk-body-l">
                    The action of a hypothesis has <strong>impacts</strong>.
                </p>
                <p class="govuk-body-l">
                    These impacts can be assessed against the programme <a href="vision">vision</a>.
                </p>
                <div class="vision-box">
                    <strong class="govuk-tag govuk-tag--timely">
                        Timely
                    </strong>
                    <strong class="govuk-tag govuk-tag--timely">
                        1
                    </strong>
                    <span class="govuk-body-m">Vision aim</span>
                    <p class="govuk-body-m no-margin-bottom">
                        We will gather the minimum information required to make a decision at the earliest point
                    </p>
                </div>
                <p class="govuk-body-m">
                    could be<strong class="govuk-tag--green"> positively </strong>impacted by...
                </p>
                <ul class="govuk-list govuk-list--bullet govuk-list--bullet-impacts">
                    <li>Removing irrelevant fields from the telephone assessment will make it shorter</li>
                </ul>

                <div class="vision-box">
                    <strong class="govuk-tag govuk-tag--accurate">
                        Accurate
                    </strong>
                    <strong class="govuk-tag govuk-tag--accurate">
                        1
                    </strong>
                    <span class="govuk-body-m">Vision aim</span>
                    <p class="govuk-body-m no-margin-bottom">
                        We will gather the right amount of information to make sure our decisions are accurate
                    </p>
                </div>
                <p class="govuk-body-m">
                    could be<strong class="govuk-tag--red"> negatively </strong>impacted by...
                </p>
                <ul class="govuk-list govuk-list--bullet govuk-list--bullet-impacts">
                    <li>Removing fields from telephone assessment might risk valuable information not being collected</li>
                </ul>

                <div class="vision-box">
                    <strong class="govuk-tag govuk-tag--responsive">
                        Responsive
                    </strong>
                    <strong class="govuk-tag govuk-tag--responsive">
                        4
                    </strong>
                    <span class="govuk-body-m">Vision aim</span>
                    <p class="govuk-body-m no-margin-bottom">
                        We will tailor the service based on the things we know (or find out) about people
                    </p>
                </div>
                <p class="govuk-body-m">
                    could be<strong class="govuk-tag--green"> positively </strong>impacted by...
                </p>
                <ul class="govuk-list govuk-list--bullet govuk-list--bullet-impacts">
                    <li>The assessment journey is responsive to information about channel</li>
                </ul>
                

            </div>
        </div>

    </main>
  </div>
{% endblock %}