{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/service-status.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
    {% include "includes/breadcrumb_user_vision.html" %}
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                    <nav class="navigation-secondary">
                      <ul>
                        <li>
                          <a href="../vision/vision-heatmap">Health vision</a>
                        </li>

                        <li>
                          <a href="#" class="active" aria-current="section">User groups</a>
                        </li>
                      </ul>
                    </nav>
              

                    <h1 class="govuk-heading-l" style="padding-top:1em"> User groups</h1>

                    <p >Overlaying the <a href="users-vision">user group</a> types onto the health vision shows another view of the data coverage.</p>

                    



                    <div class="govuk-grid-row">
                      <div class="govuk-grid-column-one-third">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset" aria-describedby="waste-hint">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          <h1 class="govuk-fieldset__heading">
                            Select team
                          </h1>
                        </legend>
                        <div id="waste-hint" class="govuk-hint">
                          Select all that apply.
                        </div>
                        <div class="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="team-royal-blue" name="team-vision" type="checkbox" value="royal-blue" checked>
                            <label class="govuk-label govuk-checkboxes__label" for="team-royal-blue">
                             Royal blue
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="team-2" name="team-vision" type="checkbox" value="team2">
                            <label class="govuk-label govuk-checkboxes__label" for="team-2">
                             Different team
                            </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="team-3" name="team-vision" type="checkbox" value="team3">
                            <label class="govuk-label govuk-checkboxes__label" for="team-3">
                             Another team
                            </label>
                          </div>
                         
                        </div>
                    
                      </fieldset>
                    </div>
                  </div>

                  <div class="govuk-grid-column-two-thirds">
                    <a href="measuring-simple-operations"> <img src="/public/images/user-group-vision-heatmap-v2.png" width="100%" > </a>
                  </div>


                </div>


                  </div>
                </div>
              </main>
                          
                        
            
  </div>
{% endblock %}