{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/service-status.html" %}

  <div class="govuk-width-container {{ containerClasses }}">
   <!--{{ govukBackLink({
        text: "Back",
        href: "./"
      }) }} -->

      <a href="javascript:history.back()" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="passport-issued-hint" class="hypothesis-label">
                    Health Programme
                </div>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                    Health vision
                </h1>


                <p class="govuk-body-l">
                    The vision of the programme is that people with a health condition or disability will get the support they need.
                </p>

                <p class="govuk-body-l">
                    In giving this support, we will provide a 
                    <strong>simple</strong> and
                    <strong>responsive</strong> service and make
                    <strong>timely</strong>,
                    <strong>accurate</strong>, and <strong>understandable</strong> decisions that help people get the right
                    support for them.
                </p>

                <p class="govuk-body-l">
                    There are five categories or aims, and each category has four subcategories or examples.
                </p>

            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full-width">
                <table class="govuk-table vision-table">
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="col">
                            <strong class="govuk-tag govuk-tag--simple govuk-tag--title">
                                Simple
                            </strong>
                        </th>
                        <th class="govuk-table__header" scope="col">
                            <strong class="govuk-tag govuk-tag--responsive govuk-tag--title">
                                Responsive
                            </strong>
                        </th>
                        <th class="govuk-table__header" scope="col">
                            <strong class="govuk-tag govuk-tag--timely govuk-tag--title">
                                Timely
                            </strong>
                        </th>
                        <th class="govuk-table__header" scope="col">
                            <strong class="govuk-tag govuk-tag--accurate govuk-tag--title">
                                Accurate
                            </strong>
                        </th>
                        <th class="govuk-table__header" scope="col">
                            <strong class="govuk-tag govuk-tag--understandable govuk-tag--title">
                                Understandable
                            </strong>
                        </th>
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body vision-example">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--simple  no-margin-bottom">1</strong>
                            We will simplify processes and data capture so they are easier to complete
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--responsive  no-margin-bottom">1</strong>
                            We will reduce waiting time in the service to speed up claims
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--timely  no-margin-bottom">1</strong>
                            Claimants will feel involved and informed throughout the journey
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--accurate  no-margin-bottom">1</strong>
                            We will make decisions that are accurate to policy intent
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--understandable  no-margin-bottom">1</strong>
                            Claimants will understand our communications first time and not need explanations 
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--simple  no-margin-bottom">2</strong>
                            We will reuse information as much as possible and minimise the need for claimants to repeat themselves
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--responsive  no-margin-bottom">2</strong>
                        	We will tailor our journeys to claimant needs and circumstances
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--timely  no-margin-bottom">2</strong>
                            We will use digital channels where possible to minimise delays in exchanging information
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--accurate  no-margin-bottom">2</strong>
                            We will implement data capture and storage that enables us to measure and assess the performance of the service
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--understandable  no-margin-bottom">2</strong>
                            Claimants will understand what is expected of them at every stage of the journey
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--simple  no-margin-bottom">3</strong>
                            We will use what we know about claimants to make their journey easier
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--responsive  no-margin-bottom">3</strong>
                            We will allow for flexibility in delivery rather than linked to existing business rules or processes 
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--timely  no-margin-bottom">3</strong>
                            We will make the right decision first time to reduce the need to claimants to repeat the process
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--accurate  no-margin-bottom">3</strong>
                            We will use reference and existing data to verify and confirm what we know
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--understandable  no-margin-bottom">3</strong>
                            Claimants will know where they are in the process so reduce progress chasing


                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            
                        </td>
                        <td class="govuk-table__cell">
                           
                        </td>
                        <td class="govuk-table__cell">
                            
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--accurate  no-margin-bottom">4</strong>
                            We will make consistent decisions
                        </td>
                        <td class="govuk-table__cell">
                            <strong class="govuk-tag govuk-tag--understandable  no-margin-bottom">4</strong>
                            Claimants will trust that we have made the right decision and not challenge it 
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
  </div>
{% endblock %}