{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">
  
     
    <a href="has-pmf" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="passport-issued-hint" class="hypothesis-label">
                Hypothesis 1
            </div>
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
              4 headings in justification box
            </h1>
            <p class="govuk-body-l">
                <strong class="govuk-tag govuk-tag--green">
                  Measuring
                </strong>
            </p>
        </div>
    </div>
        
        
                <nav class="navigation-secondary">
                    <ul>
                      <li>
                        <a href="hypothesis-0001">Detail</a>
                      </li>


                        <li>
                        <a href="#" class="active" aria-current="section">Data</a>
                      </li>


                    </ul>
                  </nav>

                 
                 
          
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
                    <br>
                  <!-- Date range picker snippet -->
                  <h2 class="govuk-heading-s">Filter this data</h2>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="form-group">
                        <div class="form-date">
                          <div class="sm-daterange-component">
                  
                            <label for="from" class="govuk-body-m sm-daterange-label from">From</label>
                            <div class="sm-daterange-input-wrapper from">
                              <input type="text" id="from" name="from" placeholder="01/08/2021" class="form-control sm-daterange-input from" autocomplete="off" 
                              <span class="sm-calendar-icon">
                                <i class="far fa-calendar-alt"><span class="visually-hidden">From date range</span></i>
                              </span>
                            </div>
                  
                            <label for="to" class="govuk-body-m sm-daterange-label to">to</label>
                            <div class="sm-daterange-input-wrapper to">
                              <input type="text" id="to" name="to" placeholder="13/08/2021" class="form-control sm-daterange-input to" autocomplete="off">
                              <span class="sm-calendar-icon">
                                <i class="far fa-calendar-alt"><span class="visually-hidden">To date range</span></i>
                              </span>
                            </div>
                  
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                      if (document.querySelectorAll('.sm-daterange-component').length) {
                        SmDateRangePicker('#from', '#to').init();
                      }
                    });
                  </script>

  <!-- End of date range picker snippet -->


          <!--  <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Filter this data by assessment type:
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="phone" selected>By phone</option>
                <option value="online" >Digital service</option>
                <option value="all">All</option>
              </select>
            </div>--> 

        

            <h3 class="govuk-heading-m">Amount of copy and pastes by field</h3>
<!-- start of chart and table tab area for assessment completed-->
<p>The data from copy and paste analysis of fields shows that users are frequently copying and pasting into text boxes. </p>

<p>This suggests that they are using the headings (or something else) into these fields. </p>

<p>This supports the hypothesis and suggests we should do more work with the contents of the fields to see whether it's headers that are being copy and pasted.</p>

          </div>
        </div>


<div class="govuk-grid-row">
          
  <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#copy-pastes-chart">
                    Chart
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#copy-pastes-table">
                   Table of data
                  </a>
                </li>
                
              </ul>
              <div class="govuk-tabs__panel" id="copy-pastes-chart">
                
                <div class="govuk-grid-row">
      
                  <div class="govuk-grid-column-two-thirds">
      

                    <img src="/public/images/v04-hypoth-01-copypastes.png" width="100%" >
      
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s">Preparing food</h4>
    
                    <p><span class="special-stat">300 copy and pastes</span>  within this section.


                    </p>

                    <p>52% of overall copy and pastes happen in this field.</p>

                    <p><a href="data-0001-drilldown">View more data on this field</a>.</p>

                  
    
                </div>
              </div>
            
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="copy-pastes-table">
              
               
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Assessment section</th>
                      <th scope="col" class="govuk-table__header">Total number of copy and pastes</th>
                      
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Preparing food</td>
                      <td class="govuk-table__cell">300</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Taking nutrition</td>
                      <td class="govuk-table__cell">99</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Managing therapy</td>
                      <td class="govuk-table__cell">112</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Washing and bathing</td>
                      <td class="govuk-table__cell">215</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Managing toilet needs</td>
                      <td class="govuk-table__cell">190</td>
                    </tr>

                    
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Dressing and undressing</td>
                      <td class="govuk-table__cell">230</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Communicating verbally</td>
                      <td class="govuk-table__cell">190</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Reading and understanding signs, symbols and words</td>
                      <td class="govuk-table__cell">70</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Engaging face to face</td>
                      <td class="govuk-table__cell">98</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Budgeting</td>
                      <td class="govuk-table__cell">56</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Planning and following journeys</td>
                      <td class="govuk-table__cell">130</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Moving around</td>
                      <td class="govuk-table__cell">232</td>
                    </tr>


                  </tbody>
                </table>
            
              </div>
            </div>

            <!--end of assessment completed area-->



            </div>
        </div>


     



    </main>
  </div>
{% endblock %}