{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

  <div class="govuk-width-container {{ containerClasses }}">
  
     
    <a href="data-0001" class="govuk-back-link">Back</a>

    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <div id="passport-issued-hint" class="hypothesis-label">
                Hypothesis 1
            </div>
            <h1 class="govuk-heading-l govuk-!-margin-bottom-3">
              More data on field: Preparing food
            </h1>
            
        </div>
    </div>
        
        
              
                 
                 
    <div class="govuk-grid-row">
      
      <div class="govuk-grid-column-two-thirds">
                    <br>
                  <!-- Date range picker snippet -->
                  <h2 class="govuk-heading-s">Filter this data</h2>
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                      <div class="form-group">
                        <div class="form-date">
                          <div class="sm-daterange-component">
                  
                            <label for="from" class="govuk-body-m sm-daterange-label from">From</label>
                            <div class="sm-daterange-input-wrapper from">
                              <input type="text" id="from" name="from" placeholder="01/08/2021" class="form-control sm-daterange-input from" autocomplete="off" 
                              <span class="sm-calendar-icon">
                                <i class="far fa-calendar-alt"><span class="visually-hidden">From date range</span></i>
                              </span>
                            </div>
                  
                            <label for="to" class="govuk-body-m sm-daterange-label to">to</label>
                            <div class="sm-daterange-input-wrapper to">
                              <input type="text" id="to" name="to" placeholder="13/08/2021" class="form-control sm-daterange-input to" autocomplete="off">
                              <span class="sm-calendar-icon">
                                <i class="far fa-calendar-alt"><span class="visually-hidden">To date range</span></i>
                              </span>
                            </div>
                  
                          </div>
                        </div>
                      </div>
                
                  
                  <script>
                    document.addEventListener("DOMContentLoaded", function (event) {
                      if (document.querySelectorAll('.sm-daterange-component').length) {
                        SmDateRangePicker('#from', '#to').init();
                      }
                    });
                  </script>

  <!-- End of date range picker snippet -->


          <!--  <div class="govuk-form-group">
              <label class="govuk-label" for="sort">
                Filter this data by assessment type:
              </label>
              <select class="govuk-select" id="sort" name="sort">
                <option value="phone" selected>By phone</option>
                <option value="online" >Digital service</option>
                <option value="all">All</option>
              </select>
            </div>--> 

            <h3 class="govuk-heading-m">Headers copied and pasted in Preparing food</h3>
<!-- start of chart and table tab area for data area 1 -->
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#copy-paste-headers-chart">
                    Chart
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#copy-paste-headers-table">
                   Table of data
                  </a>
                </li>
                
              </ul>
              <div class="govuk-tabs__panel" id="copy-paste-headers-chart">
                
             
      

                    <img src="/public/images/v04-hypoth-01-headings.png" width="100%" >
      
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s">Heading 2</h4>
    
                    <p>'Recommendation and evidence used to support:' was copied and pasted in  <span class="special-stat">90 times</span> into the Preparing food section.
                      
                      

                    </p>

                    <p>Heading 2 is used 62% of the time in this section.</p>

                    
    
                </div>
              </div>
            
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="copy-paste-headers-table">
              
               
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Heading used</th>
                      <th scope="col" class="govuk-table__header">Total number of copy and pastes</th>
                      
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 1</td>
                      <td class="govuk-table__cell">33</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 2</td>
                      <td class="govuk-table__cell">90</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 3</td>
                      <td class="govuk-table__cell">14</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 4</td>
                      <td class="govuk-table__cell">3</td>
                    </tr>


                  
                  </tbody>
                </table>
            
              </div>
            </div>

            <!--end of data 1 area-->

<hr>

<div class="govuk-grid-row">
      
  <div class="govuk-grid-column-two-thirds">


            <!-- start of data area 2  -->
            <h3 class="govuk-heading-m">Percentage of duplication of text under each heading</h3>
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#header-duplication-chart">
                    Chart
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#header-duplication-table">
                   Table of data
                  </a>
                </li>
                
              </ul>
              <div class="govuk-tabs__panel" id="header-duplication-chart">
                
            

                    <img src="/public/images/v04-hypoth-01-heading-duplication.png" width="100%" >
      
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s">Heading 2</h4>
    
                  

                    <p>'Recommendation and evidence used to support:' is duplicated <span class="special-stat">98% of the time</span> in the Preparing food section.
                    </p>

                    
    
                </div>
              </div>
            
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="header-duplication-table">
              
               
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Heading used</th>
                      <th scope="col" class="govuk-table__header">Percentage of header text being duplicated</th>
                      
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 1</td>
                      <td class="govuk-table__cell">80%</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 2</td>
                      <td class="govuk-table__cell">98%</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 3</td>
                      <td class="govuk-table__cell">80%</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Heading 4</td>
                      <td class="govuk-table__cell">25%</td>
                    </tr>

                 
                  </tbody>
                </table>
            
              </div>
            </div>

            <!--end of data 2 area -->

            </div>
        </div>


     



    </main>
  </div>
{% endblock %}