{% extends "layout.html" %}
{% set bodyAttributes = { id: "service" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}
  <div class="govuk-width-container {{ containerClasses }}">
   
   
    <a href="has-pmf" class="govuk-back-link">Back</a>
    
     
    <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main"{% if mainLang %} lang="{{ mainLang }}"{% endif %}>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div id="passport-issued-hint" class="hypothesis-label">
                    Hypothesis 1
                </div>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
                  4 headings in justification box
                </h1>
                <p class="govuk-body-l">
                  <strong class="govuk-tag govuk-tag--blue">
                    Insight
                  </strong>
                </p>
            </div>
        </div>


        <nav class="navigation-secondary">
            <ul>
              <li>
                <a href="hypothesis-0001">Detail</a>
              </li>
             

              <li>
                <a href="data-0001">Data</a>
              </li>

              <li>
                <a href="#" class="active" aria-current="section">Insight</a>
              </li>
             

           
            </ul>
          </nav>

          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <br>
                    <h2 class="govuk-heading-m" >Insight</h2>
                    <p class="govuk-body-m">
                      The data from copy and paste analysis of fields showed that users are frequently copying and pasting into text boxes. </p>
                      

                      <p>
                      This suggests that they are using the headings (or something else) into these fields but was not conclusive. </p>
                      
                      <p> To get more conclusive evidence we performed text analysis of the content of the completed fields. </p>
                      
                      <p>This analysis showed conclusively that users were copying and pasting headers into fields.
                    </p>



                  </div></div>

          <div class="govuk-grid-row">
          
                <div class="govuk-grid-column-full">
                    <h3 class="govuk-heading-m">Header 2 was the most frequently pasted:</h3>
                    <!-- start of chart and table tab area for data area 1 -->
                                <div class="govuk-tabs" data-module="govuk-tabs">
                                  <h2 class="govuk-tabs__title">
                                    Contents
                                  </h2>
                                  <ul class="govuk-tabs__list">
                                    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                                      <a class="govuk-tabs__tab" href="#copy-paste-headers-chart">
                                        Chart
                                      </a>
                                    </li>
                                    <li class="govuk-tabs__list-item">
                                      <a class="govuk-tabs__tab" href="#copy-paste-headers-table">
                                       Table of data
                                      </a>
                                    </li>
                                    
                                  </ul>
                                  <div class="govuk-tabs__panel" id="copy-paste-headers-chart">
                                    
                                    <div class="govuk-grid-row">
                          
                                      <div class="govuk-grid-column-two-thirds">
                          
                    
                                        <img src="/public/images/v04-hypoth-01-headings.png" width="100%" >
                          
                                      </div>
                    
                                      <div class="govuk-grid-column-one-third">
                                        <h4 class="govuk-heading-s">Heading 2</h4>
                        
                                        <p>'Recommendation and evidence used to support:' was copied and pasted in  <span class="special-stat">90 times</span>.
                                          
                                          
                    
                                        </p>
                    
                                        <p>Heading 2 is used 62% of the time out compared to other headings.</p>
                    
                                        
                        
                                    </div>
                                  </div>
                                
                                  </div>
                                  <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="copy-paste-headers-table">
                                  
                                   
                                    <table class="govuk-table">
                                      <thead class="govuk-table__head">
                                        <tr class="govuk-table__row">
                                          <th scope="col" class="govuk-table__header">Heading used</th>
                                          <th scope="col" class="govuk-table__header">Total number of copy and pastes</th>
                                          
                                        </tr>
                                      </thead>
                                      <tbody class="govuk-table__body">
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell">Heading 1</td>
                                          <td class="govuk-table__cell">33</td>
                                        </tr>
                    
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell">Heading 2</td>
                                          <td class="govuk-table__cell">90</td>
                                        </tr>
                    
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell">Heading 3</td>
                                          <td class="govuk-table__cell">14</td>
                                        </tr>
                    
                                        <tr class="govuk-table__row">
                                          <td class="govuk-table__cell">Heading 4</td>
                                          <td class="govuk-table__cell">3</td>
                                        </tr>
                    
                    
                                      
                                      </tbody>
                                    </table>
                                
                                  </div>
                                </div>

                            
                                <h3 class="govuk-heading-m">The distribution of where users were pasting the headers into the fields:</h3>

                

                     
            </div>

           
        </div>


<div class="govuk-grid-row">
          
  <div class="govuk-grid-column-full">
            <div class="govuk-tabs" data-module="govuk-tabs">
              <h2 class="govuk-tabs__title">
                Contents
              </h2>
              <ul class="govuk-tabs__list">
                <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
                  <a class="govuk-tabs__tab" href="#copy-pastes-chart">
                    Chart
                  </a>
                </li>
                <li class="govuk-tabs__list-item">
                  <a class="govuk-tabs__tab" href="#copy-pastes-table">
                   Table of data
                  </a>
                </li>
                
              </ul>
              <div class="govuk-tabs__panel" id="copy-pastes-chart">
                
                <div class="govuk-grid-row">
      
                  <div class="govuk-grid-column-two-thirds">
      

                    <img src="/public/images/v04-hypoth-01-copypastes.png" width="100%" >
      
                  </div>

                  <div class="govuk-grid-column-one-third">
                    <h4 class="govuk-heading-s">Preparing food</h4>
    
                    <p><span class="special-stat">300 copy and pastes</span>  within this field.


                    </p>

                    <p>52% of overall copy and pastes happen in this field.</p>

                  

                  
    
                </div>
              </div>
            
              </div>
              <div class="govuk-tabs__panel govuk-tabs__panel--hidden" id="copy-pastes-table">
              
               
                <table class="govuk-table">
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header">Assessment section</th>
                      <th scope="col" class="govuk-table__header">Total number of copy and pastes</th>
                      
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Preparing food</td>
                      <td class="govuk-table__cell">300</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Taking nutrition</td>
                      <td class="govuk-table__cell">99</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Managing therapy</td>
                      <td class="govuk-table__cell">112</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Washing and bathing</td>
                      <td class="govuk-table__cell">215</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Managing toilet needs</td>
                      <td class="govuk-table__cell">190</td>
                    </tr>

                    
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Dressing and undressing</td>
                      <td class="govuk-table__cell">230</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Communicating verbally</td>
                      <td class="govuk-table__cell">190</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Reading and understanding signs, symbols and words</td>
                      <td class="govuk-table__cell">70</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Engaging face to face</td>
                      <td class="govuk-table__cell">98</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Budgeting</td>
                      <td class="govuk-table__cell">56</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Planning and following journeys</td>
                      <td class="govuk-table__cell">130</td>
                    </tr>

                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">Moving around</td>
                      <td class="govuk-table__cell">232</td>
                    </tr>


                  </tbody>
                </table>
            
              </div>
            </div>

 
      

    </main>
  </div>
{% endblock %}