{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check your answers before raising your hypothesis
      </h1>

      <h2 class="govuk-heading-m">
       Hypothethis details
      </h2>
      
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-third">
            What is the current problem?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['current-problem'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-hypothesis">
              Change
            </a>
          </dd> 
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Who does this problem affect?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['problem-affects'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-hypothesis">
              Change 
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What would improve the problem?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['improve-problem'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-hypothesis">
              Change 
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What could be measured within the current process?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['could-measure'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-hypothesis">
              Change 
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is there any current data around this?
          </dt>
          <dd class="govuk-summary-list__value">
           
              {% if  data['data']   == 'Yes' %}
              {{ data['more-detail'] }}
              {% else %}
              No 
              {% endif %}
           
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-hypothesis">
              Change 
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Point of contact and team name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['contact'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="new-hypothesis">
              Change 
            </a>
          </dd>
        </div>
      </dl>

      <a href="new-hypothesis-complete"
      <button class="govuk-button" data-module="govuk-button">
        Raise hypothesis
      </button>
    </a>

    </div>

  </div>

{% endblock %}
