{% extends "layout.html" %}
{% set bodyAttributes = { id: "home" } %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block main %}

{% include "includes/home-header.html" %}
<div class="govuk-width-container {{ containerClasses }} govuk-!-margin-bottom-9">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <ul class="govuk-list">
       <!--  <li><a href="#next-release" class="govuk-link--no-visited-state govuk-link--no-underline">Next release</a></li> -->
        <li><a href="#current-release" class="govuk-link--no-visited-state govuk-link--no-underline">Current release</a></li>
        <li><a href="#archived-releases" class="govuk-link--no-visited-state govuk-link--no-underline">Archived releases</a></li>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">
    
    <!--   <h2 class="govuk-heading-l" id="next-release">Next release</h2>
      <p class="govuk-body-l">These prototypes are for testing the next release of Measure Your Service.</p>
   


      

      <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6"> -->
   

      <h2 class="govuk-heading-l" id="current-release">Current ideas</h2>
      <p class="govuk-body-l">These prototypes represent the current ideas of Measure Your Service.</p>



       <h3 class="govuk-heading-m"><a href="mys-version-0-x/performance-framework/has-pmf">MYS Version 0.x</a></h3>

      


     

      <hr class="govuk-!-margin-top-9 govuk-!-margin-bottom-6">

     <!-- Archived releases -->

      <h2 class="govuk-heading-l" id="archived-releases">Archived releases</h2>
      <p class="govuk-body-l">These prototypes are previous releases of of Measure Your Service.</p>


      <h3 class="govuk-heading-m"><a href="mys-version-0-3/start-page">MYS Version 0.3</a></h3>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Add placeholder metrics to prototype to aid user understanding
          </span>
        </summary>
        <div class="govuk-details__text">
        
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Tickets:</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10745" target="_blank">HA-10745</a>, Discuss which demo metrics should go in V0.3.</li> 
             <li><a href="https://dwpdigital.atlassian.net/browse/HA-10729" target="_blank"> HA-10729</a>, Design RB placeholder metric examples.</li> 
             <li><a href="https://dwpdigital.atlassian.net/browse/HA-10730" target="_blank">HA-10730</a>, Prototype RB placeholder metric designs.</li> 
             <li><a href="https://dwpdigital.atlassian.net/browse/HA-10738" target="_blank">HA-10738</a>, Add HAS vision to the excel spreadsheet.</li> 
             <li><a href="https://dwpdigital.atlassian.net/browse/HA-10733" target="_blank">HA-10733</a>, Add release notes to the V0.3 prototype.</li> 
             <li><a href="https://dwpdigital.atlassian.net/browse/HA-10774" target="_blank">HA-10774</a>, Prototype RB brief + index page of Health teams.</li> 
          </ul>


        </div>
      </details> 


      <h3 class="govuk-heading-m"><a href="mys-version-0-2/start-page">MYS Version 0.2</a></h3>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Incorporating changes led by user research
          </span>
        </summary>
        <div class="govuk-details__text">
        
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Tickets:</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10732" target="_blank">HA-10732</a>, Add release notes for V0.1.</li>
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10717" target="_blank">HA-10717</a>, Update the Vision to the newest version.</li>
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10728" target="_blank">HA-10728</a>, Tweaks from UR feedback (content changes).</li>
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10731" target="_blank">HA-10731</a>, Add release notes to the V0.2 prototype.</li>
          </ul>


        </div>
      </details> 
     

      <h3 class="govuk-heading-m"><a href="mys-version-0-1/start-page">MYS Version 0.1</a></h3>

      
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Creating a basic prototype to show the performance framework
          </span>
        </summary>
        <div class="govuk-details__text">
        
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Tickets:</h4>
          <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10687" target="_blank">HA-10687</a>, Design V0.1 prototype.</li>
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10688" target="_blank">HA-10688</a>, Create V0.1 prototype.</li>
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10698" target="_blank">HA-10698</a>, Test MYS V0.1 with Team Teal.</li>
            <li><a href="https://dwpdigital.atlassian.net/browse/HA-10699" target="_blank">HA-10699</a>, Test MYS V0.1 with Users.</li>
          </ul>

        </div>
      </details> 

     

    </div>
  </div>
</div>

{% endblock %}
